<section id="contact" class="container content-section uber-section">
<div class="content-section-b">
 <div class="row">
 
                <div class="col-sm-5">
                    <h1 class="section-heading">Kontakt</h1>
                    <address>
  <strong>Poczuj Bluesa Olga Jaśkowska</strong><br>
  <a href="mailto:{{page.email}}">{{page.email}}</a><br>
  <a href="tel:{{page.phone}}">{{page.phone}}</a> 

                    </address>
                </div>
 </div>
</div>
</section>
<!-- /.banner -->
