<section id="schedule">
	<div class="banner">
		<div class="container">

			<div class="row">
                                <p>Zajęcia w nowym roku szkolnym ruszają 7 września</p>

				<div class="col-md-6">
                                        wtorki 9:45, 12:15 i 16:00 <br/>
					"Jak w Ulu"<br/>
                                        ul. Dembińskiego 10, <br/>
                                        Metro Marymont, <br/>
                                        Żoliborz, Warszawa <br/><br/>
   				        <a href="https://docs.google.com/forms/d/1ZrVt0W4E3K6bwF0SoS7RFw1cs1NRtTAhqYx7BkZVtwQ" class="btn btn-primary btn-lg"> <span class="network-name">Zapisy</span></a>
				</div>
				<div class="col-md-6">
                                       czwartki 10:00 i 11:15 <br/>
                                       Kawiarnia Terapeutyczna<br/>
                                       al. K.E.N. XYZ <br/>
                                       Metro Stokłosy,  <br/>
                                       Ursynów, Warszawa <br/><br/>
   				       <a href="https://docs.google.com/forms/d/1ZrVt0W4E3K6bwF0SoS7RFw1cs1NRtTAhqYx7BkZVtwQ" class="btn btn-primary btn-lg"> <span class="network-name">Zapisy</span></a>
				</div>
			</div>

		</div>
		<!-- /.container -->

	</div>
</section>
<!-- /.banner -->
