<section id="reviews" class="uber-section">
<div class="content-section-b">
<div class="container">
<h1 class="text-center" style="margin-bottom:55px">Opinie</h1>
<div class="row">
        <!-- Wrapper for slides -->
            {% for href in page.carousel %}
               <div class="col-sm-4">
                    <iframe src="https://www.facebook.com/plugins/post.php?href={{ href }}&width=300" width="380" height="460" style="border:none;overflow:hidden" scrolling="yes" frameborder="0" allowTransparency="true"></iframe>
                </div>
            {% endfor %}

</div>
</div>
</div>
</section>
