<section id="features" class="uber-section">
<!-- Page Content -->
	    <div class="content-section-b">

		<div class="container">
                   <h1 class="text-center" style="margin-bottom:55px">Koncepcja Gordona</h1>

		    <div class="row">
			{% for post in site.posts reversed %}
			  {% if post.category == 'Feature' %}
                             {% if post.video %}
				<div class="col-sm-8 col-sm-offset-2" style="margin-top:50px; margin-bottom:50px;">
				    <div class="embed-responsive embed-responsive-16by9">
				      <video loop="" controls="" class="embed-responsive-item img-thumbnail" poster="img/{{post.video_placeholder}}">
					<source src="img/{{post.video}}" type="video/mp4">
				      </video>
				   </div>
                                   <div class="lead">
                                     {{ post.content }}
                                   </div>
				</div>
				<!--  <div class="fb-video" data-href="https://www.facebook.com/poczuj.bluesa/videos/942848119175257/" data-width="500" data-show-text="false">
				    <div class="fb-xfbml-parse-ignore">
				      <blockquote cite="https://www.facebook.com/poczuj.bluesa/videos/942848119175257/">
					<a href="https://www.facebook.com/poczuj.bluesa/videos/942848119175257/">Maluchy słuchają, tańczą, a czasami nawet śpiewają :-)</a>
				      </blockquote>
				    </div>
				  </div>-->

                             {% else %}

				{% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
				{% if thecycle == 'odd' %}
					<div class="col-sm-5 col-sm-offset-1">
					    <h2 class="section-heading">{{ post.title }}</h2>
					    <div class="lead text-justify">{{ post.content }}</div>
					</div>
                                {% else %}
					<div class="col-sm-5 col-sm-offset-1">
					    <h2 class="section-heading">{{ post.title }}</h2>
					    <div class="lead text-justify">{{ post.content }}</div>
					</div>

                                {% endif %} <!-- cycle -->
                            {% endif %} <!-- post.video -->
                         {% endif %} <!-- post.category -->
                      {% endfor %}
		    </div>

		</div>
		<!-- /.container -->

	    </div>
	    <!-- /.content-section-b -->
</section>
