  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>


<!-- Modal -->
<div class="modal fade" id="modal-potwierdzam" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Potwierdzenie otrzymania emaila</h4>
      </div>
      <div class="modal-body">
         Dziękuję za zapisanie się na zajęcia! 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
      </div>
    </div>
  </div>
</div>

<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
<div style="position:absolute; top:-20px">
            <a class="navbar-brand page-scroll" href="#home">
<img src="img/logo-poczujbluesa.png" class="navbar-brand page-scroll" href="#home" style="
    overflow: overlay;
    width: 140px;
    height: 140px;
  ">
</a>
</div>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">  
            	<li>
                    <a class="page-scroll" href="#home">Gordonki</a>
                </li>            
            	<li>
                    <a class="page-scroll" href="#reviews">Opinie</a>
                </li>            
            	<li>
                    <a class="page-scroll" href="#features">O nas</a>
                </li>            
            	<li>
                    <a class="page-scroll" href="#blog">Blog</a>
                </li>            
                <li>
                    <a class="page-scroll" href="#schedule">Grafik</a>
                </li>
            	<li>
                    <a class="page-scroll" href="#karnety">Karnety</a>
                </li>            
            	<li>
                    <a class="page-scroll" href="#contact">Kontakt</a>
                </li>            
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<section id="home">
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Organization",
  "name": "Poczuj Bluesa",
  "url": "http://www.poczujbluesa.pl",
  "sameAs": [
    "http://www.facebook.com/poczuj.bluesa",
    "https://plus.google.com/118384337302659291778"
  ]
}
</script>
<!--
<div itemscope itemtype=”http://schema.org/Product”>
<img itemprop=”image” src=”image-link.jpg” alt=”Product Name“/>
<span itemprop=”name”>Product Name</span>
<div itemprop=”aggregateRating itemscope itemtype=”http://schema.org/AggregateRating”>
<span itemprop=”ratingValue”>4.5</span>
out of <span itemprop=”bestRating”>5</span>
based on <span itemprop=”ratingCount”>301</span> user ratings.
</div>
<script type="application/ld+json">
{
  "@context": "http://schema.org/",
  "@type": "AggregateRating",
  "itemReviewed": {
    "@type": "Thing",
    "name": "Zajęcia gordonowskie Poczuj Bluesa"
  },
  "author": {
    "@type": "Organization",
    "name": "Poczuj Bluesa"
  },
  "ratingValue": 4.8,
  "bestRating": 5,
  "reviewCount": 5
}
</script>-->
<!-- Header -->
	<div class="intro-header">
              <div class="intro-wrapper">
                <video autoplay="" loop="" muted="" id="intro-video" class="intro-video" poster="img/intro4.jpg">
                  <source src="img/intro4.webm" type="video/webm">
                </video>
                
              </div>

		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="intro-message">
						<h1>Gordonki Warszawa</h1>
						<h3>Gordonowskie zajęcia umuzykalniające</h3>
						<hr class="intro-divider">
						<ul class="list-inline intro-social-buttons">
							{% for social in site.social %}
							<li>
								<a href="{{ social.url }}" class="btn btn-default btn-lg"><i class="fa fa-{{ social.title }} fa-fw"></i> <span class="network-name">{{ social.title }}</span></a>
							</li>
							{% endfor %}
							<a href="{{ page.zapisy }}" class="btn btn-primary btn-lg"> <span class="network-name">Zapisy</span></a>
                                                        <a class="btn btn-lg btn-default visible-xs-inline" href="tel:662328626"><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span></a>
						</ul>
					</div>
				</div>
			</div>

		</div>
		<!-- /.container -->

	</div>
	<!-- /.intro-header -->
</section>
