<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="zajęcia gordonowskie,gordonki,zajęcia umuzykalniające">
    <meta name="author" content="{{ site.author }}">

    <meta name="google-site-verification" content="SVIK64kLqYRWhps0rLdw9_VZjRtQbQiAayVPdyCBb90" />

    {% if page.type %}
      <meta property="og:type" content="{{ page.type }}" />
    {% else %}
      <meta property="og:type" content="website" />
    {% endif %}
    {% if page.title %}
      <meta property="og:title" content="{{ page.title }}">
    {% else %}
      <meta property="og:title" content="{{ site.title }}">
    {% endif %}
    {% if page.description %}
      <meta property="og:description" content="{{ page.description }}">
      <meta name="description" content="{{ page.description }}">
    {% else %}
      <meta property="og:description" content="{{ site.description }}">
      <meta name="description" content="{{ site.description }}">
    {% endif %}
    <meta property="og:image" content="{{ site.image }}">
    <meta property="og:url" content="{{site.url}}{{ page.url }}">
    <meta property="og:locale" content="{{ site.locale }}">
<!--    <meta property="fb:app_id" content="901840786609324">-->
    <meta property="fb:admins" content="1032400043"/>


    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

    <!-- Bootstrap Core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/css/landing-page.css" rel="stylesheet">
    <link rel="icon" href="img/favicon.ico" />

    <!-- Custom Fonts -->
    <link href="/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

	<!-- Facebook Pixel Code -->
	<script>
	!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
	n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
	n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
	t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
	document,'script','https://connect.facebook.net/en_US/fbevents.js');
	fbq('init', '1896809497220335', {
	em: 'insert_email_variable,'
	});
	fbq('track', 'PageView');
	</script>
	<noscript><img height="1" width="1" style="display:none"
	src="https://www.facebook.com/tr?id=1896809497220335&ev=PageView&noscript=1"
	/></noscript>
	<!-- DO NOT MODIFY -->
	<!-- End Facebook Pixel Code -->

</head>
