
<script src="js/withinviewport.js"></script>

<!-- jQuery Version 1.11.0 -->
<script src="js/jquery-1.11.0.js"></script>

<!-- Plugin JavaScript -->
    <script src="{{ "js/jquery.easing.min.js" | prepend: site.baseurl }}"></script>

<script src="js/jquery.scrollstop.min.js"></script>

<script src="js/jquery.withinviewport.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="js/landing-page.js"></script>

<!--<script>
$(window).on('resize scrollstop', function() {
    var toPlay = $('video').withinviewport()
    $('video:not(.intro-video)').each(function(_, a) { 
      if ($.inArray(a, toPlay)) 
           a.pause(); 
      else
           a.play(); 
    });
    
});
</script>-->

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Organization",
  "url": "http://poczujbluesa.pl",
  "contactPoint": [{
    "@type": "ContactPoint",
    "telephone": "+48-662-328-626",
    "contactType": "customer service"
  }]
}

</script>
