<!-- jQuery Version 1.11.0 -->
<script src="js/jquery-1.11.0.js"></script>

<!-- Plugin JavaScript -->
    <script src="{{ "js/jquery.easing.min.js" | prepend: site.baseurl }}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="js/landing-page.js"></script>

<script>
  var myVideo = document.getElementById("intro-video");
  video = myVideo
  
  function callback() {
    console.log("Can play through!");
    myVideo.play()
  }

  video.addEventListener('canplaythrough', callback);

  // If the video is in the cache of the browser,
  // the 'canplaythrough' event might have been triggered
  // before we registered the event handler.
  if (video.readyState > 3) {
    callback();
  }
</script>
