    <!-- Karnety Section -->
    <section id="karnety" class="container content-section uber-section">
        <h1 class="text-center">Karnety</h1>
        <div class="container">
        <br/><br/>
      <div class="row">
          <div class="col-sm-4">
              <div class="panel panel-info">
                  <div class="panel-heading">
                      <h3 class="text-center">12 zajęć</h3>
                      <p class="text-center"> (+3 nieobecności)</p>
                  </div>
                  <div class="panel-body text-center">
                      <p class="lead" style="font-size:30px"><strong>30 zł/zajęcia</strong></p>
                      <p class="text-muted pull-right small">W sumie 360 zł</p>
                  </div>
                  <ul class="list-group list-group-flush text-center">
                      <li class="list-group-item no-border">
                          <span class="glyphicon glyphicon-heart"></span> Prawo do zwrotu pierwszego karnetu
                      </li>
                  </ul>
                  <div class="panel-footer"> <a class="btn btn-lg btn-block btn-primary" href="{{ page.zapisy }}">ZAPISY</a> </div>
              </div>
          </div>
          <div class="col-sm-4">
              <div class="panel panel-info">
                  <div class="panel-heading">
                      <h3 class="text-center">4 zajęcia</h3>
                      <p class="text-center">(+1 nieobecność)</p>
                  </div>
                  <div class="panel-body text-center">
                      <p class="lead" style="font-size:30px"><strong>35 zł/zajęcia</strong></p>
                      <p class="text-muted pull-right small">W sumie 140 zł</p>
                  </div>
                  <ul class="list-group list-group-flush text-center">
                      <li class="list-group-item no-border">
                          <span class="glyphicon glyphicon-heart"></span> Prawo do zwrotu pierwszego karnetu
                      </li>
                  </ul>
                  <div class="panel-footer"> <a class="btn btn-lg btn-block btn-primary" href="{{ page.zapisy }}">ZAPISY</a> </div>
              </div>
          </div>
          <div class="col-sm-4">
              <div class="panel panel-info">
                  <div class="panel-heading">
                      <h3 class="text-center">1 zajęcia</h3>
                      <p class="text-center">&nbsp;</p>
                  </div>
                  <div class="panel-body text-center">
                      <p class="lead" style="font-size:30px"><strong>45 zł/zajęcia</strong></p>
                      <p class="text-muted pull-right small">&nbsp;</p>
                  </div>
                  <ul class="list-group list-group-flush text-center">
                      <li class="list-group-item no-border">
                          <strike><span class="glyphicon glyphicon-heart"></span> Prawo do zwrotu pierwszego karnetu</strike>
                      </li>
                  </ul>
                  <div class="panel-footer"> <a class="btn btn-lg btn-block btn-primary" href="{{ page.zapisy }}">ZAPISY</a> </div>
              </div>
          </div>
       </div> <!-- row -->
            <br/>
            <div class="col-sm-4 lead">
              <br/>
              <h2>Pojedyncze zajęcia?</h2>
              <br/>
                <p>Tylko regularne uczestniczenie w zajęciach może przynieść pozytywne rezultaty.
                   </p>
                <p>Dlatego w zajęciach Poczuj Bluesa można uczestniczyć wyłącznie poprzez wykupienie karnetu. </p>
                <p>Dodatkowe korzyści:
                   <ul>
                    <li>Mała rotacja w grupie</li>
                    <li>Lepsza aklimatyzacja dzieci i dorosłych</li>
                    <li>Niższa cena dla wszystkich</li>
                   </ul>
                </p>
                <br/>
            </div>
        </div>
       </div> <!-- container -->
    </section>
