    <!-- Karnety Section -->
    <section id="karnety" class="container content-section uber-section">
        <h1 class="text-center">Cennik</h1>
        <div class="container">
        <br/><br/>
      <div class="row">
          <div class="col-md-offset-2 col-md-4">
              <div class="panel panel-info">
                  <div class="panel-heading">
                      <h3 class="text-center">Karnet 12/15</h3>
                      <p class="text-center"></p>
                  </div>
                  <div class="panel-body text-center">
                      <p class="lead" style="font-size:30px"><strong>30 zł/zajęcia</strong></p>
                      <p class="text-muted pull-right small">W sumie 360 zł</p>
                  </div>
                  <ul class="list-group list-group-flush text-center">
                      <li class="list-group-item">
                          <span class="glyphicon glyphicon-calendar"></span> Uczestnictwo w 12 zajęciach
                      </li>
                      <li class="list-group-item no-border">
                          <span class="glyphicon "></span> Ważny przez 15 kolejnych zajęć
                      </li>
                      <li class="list-group-item no-border">
                          <span class="glyphicon glyphicon-heart"></span> Prawo do zwrotu pierwszego karnetu
                      </li>
                  </ul>
                  <div class="panel-footer"> <a class="btn btn-lg btn-block btn-primary" href="{{ page.zapisy }}">ZAPISY</a> </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="panel panel-info">
                  <div class="panel-heading">
                      <h3 class="text-center">Karnet 4/5</h3>
                  </div>
                  <div class="panel-body text-center">
                      <p class="lead" style="font-size:30px"><strong><strike>35 zł/zajęcia</strike><br/> 30 zł/zajęcia</strong></p>
                      <p class="text-muted pull-right small">W sumie <strike>140 zł</strike><br/>120 zł</p>
                  </div>
                  <ul class="list-group list-group-flush text-center">
                      <li class="list-group-item">
                          <span class="glyphicon glyphicon-calendar"></span> Uczestnictwo w 4 zajęciach
                      </li>
                      <li class="list-group-item no-border">
                          <span class="glyphicon "></span> Ważny przez 5 kolejnych zajęć
                      </li>
                      <li class="list-group-item no-border">
                          <span class="glyphicon glyphicon-heart"></span> Prawo do zwrotu pierwszego karnetu
                      </li>
                  </ul>
                  <div class="panel-footer"> <a class="btn btn-lg btn-block btn-primary" href="{{ page.zapisy }}">ZAPISY</a> </div>
              </div>
          </div>
       </div> <!-- row -->
            <br/>
            <div class=" col-sm-4 col-sm-offset-2 lead">
              <br/>
              <h2>Zwrot pierwszego karnetu</h2>
              <br/>
                <p>Czasem zdarza&nbsp;się, że&nbsp;dziecko ma&nbsp;problem z&nbsp;aklimatyzcją w&nbsp;grupie. Zwykle taki problem zanika po drugich lub trzecich zajęciach.</p>
                <p>Niemniej, dla&nbsp;Twojej wygody masz&nbsp;prawo do&nbsp;zwrotu niewykorzystanej części pierwszego&nbsp;karnetu bez&nbsp;ponoszenia dodatkowych&nbsp;kosztów.</p>
            </div>
            <div class="col-sm-4 lead">
              <br/>
              <h2>Pojedyncze zajęcia?</h2>
              <br/>
                <p>Tylko regularne uczestniczenie w zajęciach może przynieść pozytywne rezultaty.
                   </p>
                <p>Dlatego w zajęciach Poczuj Bluesa można uczestniczyć wyłącznie poprzez wykupienie karnetu. </p>
                <p>Dodatkowe korzyści:
                   <ul>
                    <li>Mała rotacja w grupie</li>
                    <li>Lepsza aklimatyzacja dzieci i dorosłych</li>
                    <li>Niższa cena dla wszystkich</li>
                   </ul>
                </p>
                <br/>
            </div>
        </div>
       </div> <!-- container -->
    </section>
