<style>
  h1.display {
    font-size: 1.75em !important;
    font-weight: 400 !important;
    line-height: 200%;
  } 
  h1.display emph {
    font-size: 2em;
    font-family: inherit;
    line-height: 150%;
  }
</style>
<section id="features" class="uber-section">
<!-- Page Content -->
	    <div class="content-section-a">

		<div class="container">
                <h1 class="text-center">O nas</h1>
                <div class="row">
                <div class="col-sm-12">
                    <img class="pull-left img-responsive img-rounded" src="/img/Olga.jpg" style="height:600px; padding:30px" alt="Olga">
                    <span class="headline" style="text-align:justify">
<h2 class="text-center">Dlaczego  zajęcia gordonowskie?</a></h2>
<p>
W Poczuj Bluesa dążymy do tego, żeby dzieci rozumiały muzykę i dzięki temu nie tylko czysto i rytmicznie ją odtwarzały, ale także tworzyły! Optymalnie wspieramy i stymulujemy ich naturalny rozwój muzyczny, nie wywierając przy tym presji szybkich efektów. Wszystko po to, aby maluchy mogły w przyszłości w pełni wykorzystać swój muzyczny potencjał i prawdziwie cieszyć się muzyką.
</p>
<p>
Efekty, które czasem można dostrzec już po pierwszych zajęciach jest aktywne uczestnictwo dzieci w zajęciach poprzez ruch oraz włączanie się w "muzyczny dialog" &mdash; spontanicznie wyśpiewywane frazy muzyczne.
</p>
<p> Przeczytaj też: <a href="/blog/2017/01/21/co-to-sa-gordonki/">Co to są zajęcia gordonowskie?</a>
<h2 >Wiek uczestników</h2>
<p>
Na zajęcia zapraszamy rodziców najmłodszych dzieci od 0 do 3 lat. Okazuje się, że ten czas jest najlepszym w życiu dziecka na  zanurzanie się w świecie i języku muzyki, i zaprzyjaźnianie się z nią. Potwierdzają to wieloletnie badania przeprowadzone przez twórcę teorii uczenia się muzyki prof. Edwina Eliasa Gordona. Właśnie na tej koncepcji oparte są zajęcia gordonowskie, które Państwu oferujemy.
</p>
<p>
Badania pokazują, że dzieciom najłatwiej jest zanurzyć się w świat muzyki zanim zaczną mówić i zanim w pełni rozwiną mowę.
</p>
<p>Przeczytaj też: <a href="/blog/2017/03/24/zajecia-dla-niemowlakow/">Ile niemowlę może skorzystać z zajęć gordonowskich i kiedy jest za wcześnie?</a>
<h2>Język muzyczny</h2>
<p>
Podczas zajęć skupiamy się na języku muzycznym, zaś inne bodźce (w tym mowę) ograniczamy do minimum. Dzięki temu, dzieciom łatwiej jest się skupić na percepcji muzyki i włączaniu się w jej tworzenie poprzez spontaniczny śpiew, rytmizowanie lub ruch. Te formy ekspresji muzycznej są dla dzieci najbardziej przystępne, dlatego stymulujemy je podczas zajęć. Z doświadczenia wiemy też, że dają one dzieciom mnóstwo radości!
</p>
<p>
Wiedza na temat rozwoju muzycznego pozwala nam dostosowywać muzyczne oddziaływania do potrzeb i możliwości poszczególnych dzieci.
</p>
<p>Przeczytaj też: <a href="/blog/2017/04/02/cisza-podczas-zajec-gordonowskich/">Gordonki to nie monolog, a cisza jest kluczowa :-)</a>
<h2>Gordonki w duecie</h2>
<p>
Nasze zajęcia gordonowskie wyróżnia to, że prowadzi je dwoje instruktorów, co znacznie zwiększa walory muzyczne &mdash; umożliwia m.in. śpiewanie i rytmizowanie w dwugłosie oraz intensywniejsze, zindywidualizowane interakcje z dziećmi.
</p>

<h2>Gordonowski trend</h2>
<p>
Zajęcia gordonowskie są trendem, przybierającym na coraz większym znaczeniu w Warszawie i całej Polsce. W Poczuj Bluesa opieramy się na doświadczeniu i wiedzy płynącej z badań nad teorią uczenia się muzyki, a co za tym idzie &mdash; przedkładamy długofalową efektywność zajęć nad ich efektowność.
</p>
<p>
Przeczytaj też: <a href="/blog/2017/02/19/dla-kogo-sa-gordonki/">Dla kogo są zajęcia gordonowskie?</a>
<p>
</p>
                    </span>

<!--
<p>W Poczuj Bluesa wszystkie zajęcia prowadzi DUET INSTRUKTORÓW. To bardzo RZADKO spotykane na innych zajęciach, a zalecane przez praktyków zajęć gordonowskich. </p>

<p>Tak prowadzone zajęcia są również CIEKAWSZE dla dzieci i rodziców :-)</p>-->

		<!--			<div class="col-sm-5 col-sm-offset-1">
					    <h2 class="section-heading">{{ post.title }}</h2>
					    <div class="lead text-justify">{{ post.content }}</div>
					</div>-->

		</div> <!-- /.container -->

	    </div>
	    <!-- /.content-section-b -->
</section>
