<style>
  h1.display {
    font-size: 1.75em !important;
    font-weight: 400 !important;
    line-height: 200%;
  } 
  h1.display emph {
    font-size: 2em;
    font-family: inherit;
    line-height: 150%;
  }
</style>
<section id="features" class="uber-section">
<!-- Page Content -->
	    <div class="content-section-a">

		<div class="container">
<!--                   <h1 class="text-center" style="margin-bottom:55px">Zajęcia gordonowskie (Gordonki)</h1>-->
                   <div class="row">
                      <div class="col-sm-6 col-sm-offset-3">
                         <h1 >Misja gordonek</h1>
                           <span class="headline">Misją Poczuj Bluesa jest taka praca z dziećmi, aby w przyszłości mogły w pełni wykorzystać swój muzyczny potencjał i prawdziwie cieszyć się muzyką :-)</span>
                      </div>
                   </div>
                   <div class="row">
                      <div class="col-sm-6 col-sm-offset-3">
                         <h1>Umuzykalnianie dzieci</h1>
                            <span class="headline"><p>W Poczuj Bluesa dążymy do tego, żeby dzieci rozumiały muzykę i dzięki temu nie tylko czysto i rytmicznie ją odtwarzały, ale także tworzyły!</p><p>Pierwsze 3 lata to najlepszy czas w życiu Dziecka na stawianie pierwszych kroków w improwizacji wokalnej.</p></span>
                      </div>
                   </div>
                   <div class="row">
                      <div class="col-sm-6 col-sm-offset-3" >
                         <h1>Teoria uczeni się muzyki</h1>
                         <span class="headline"> Potwierdzają to badania przeprowadzone przez twórcę teorii uczenia się muzyki prof. Edwina Eliasa Gordona.</span>
                      </div>
                   </div>


<!--
<p>W Poczuj Bluesa wszystkie zajęcia prowadzi DUET INSTRUKTORÓW. To bardzo RZADKO spotykane na innych zajęciach, a zalecane przez praktyków zajęć gordonowskich. </p>

<p>Tak prowadzone zajęcia są również CIEKAWSZE dla dzieci i rodziców :-)</p>-->

		<!--			<div class="col-sm-5 col-sm-offset-1">
					    <h2 class="section-heading">{{ post.title }}</h2>
					    <div class="lead text-justify">{{ post.content }}</div>
					</div>-->

		</div> <!-- /.container -->

	    </div>
	    <!-- /.content-section-b -->
</section>
