<style>
  h1.display {
    font-size: 1.75em !important;
    font-weight: 400 !important;
    line-height: 200%;
  } 
  h1.display emph {
    font-size: 2em;
    font-family: inherit;
    line-height: 150%;
  }
</style>
<section id="features" class="uber-section">
<!-- Page Content -->
	    <div class="content-section-a">

		<div class="container">
<!--                   <h1 class="text-center" style="margin-bottom:55px">Zajęcia gordonowskie (Gordonki)</h1>-->
                   <div class="row">
                      <div class="col-sm-6 col-sm-offset-3">
                         <h1>Umuzykalnianie dzieci</h1>
                            <span class="headline"><p>Muzyka to nie łacina, celem zajęć gordonowkich jest nie tylko czyste i rytmiczne odtwarzanie muzyki, ale również jej aktywne współtworzenie!</p></span>
                      </div>
                   </div>
                   <div class="row">
                      <div class="col-sm-6 col-sm-offset-3" >
                         <h1>Badania naukowe</h1>
                         <span class="headline"> Zajęcia prowadzimy opierając się o teorię uczenia się muzyki prof. E.E. Gordona.</span>
                      </div>
                   </div>
                   <div class="row">
                      <div class="col-sm-6 col-sm-offset-3">
                         <h1 >Nauka przez zabawę</h1>
                           <span class="headline">Pracując z małymi dziećmi dajemy im swobodę w interpretacji i ekspresji muzycznej. Muzyka będzie dla niech synonimem dobrej zabawy :-)
                      </div>
                   </div>


<!--
<p>W Poczuj Bluesa wszystkie zajęcia prowadzi DUET INSTRUKTORÓW. To bardzo RZADKO spotykane na innych zajęciach, a zalecane przez praktyków zajęć gordonowskich. </p>

<p>Tak prowadzone zajęcia są również CIEKAWSZE dla dzieci i rodziców :-)</p>-->

		<!--			<div class="col-sm-5 col-sm-offset-1">
					    <h2 class="section-heading">{{ post.title }}</h2>
					    <div class="lead text-justify">{{ post.content }}</div>
					</div>-->

		</div> <!-- /.container -->

	    </div>
	    <!-- /.content-section-b -->
</section>
