<section id="schedule" class="uber-section">
<!-- Page Content -->
<div class="container ">
{% for post in site.posts reversed%}
  {% if post.category == 'Schedule' %}
  {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-sm-3 vcenter">
                    <h1 class="section-heading" style="margin-top:0px">Gordonki {{ post.district }} <span style="font-size: x-large"> Metro {{ post.title }}</span></h2>
                    <div class="lead">{{ post.content }}</div>
                    {% if post.zapisy_uruchomione %}
                      <a href="{{ page.zapisy }}" class="btn btn-primary btn-lg"> <span class="network-name">Zapisy</span></a>
                      <br/><br/>
                      <p><a href="{{ page.regulamin }}" target="_blank">Regulamin</a></p>
                   {% else %}
                   {% endif %}

                </div><!--
             --><div class="col-sm-5">
                  <iframe src="{{ post.embed_map }}"  width="300" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
</div> <!--
             --><div class="col-sm-4 vcenter">
                   <a href="{{ post.host_url }}">
                    <img class="img-responsive" style="margin: 0 auto" src="img/{{ post.img }}" alt="">
                   </a>
                </div>
            </div>
<script type="application/ld+json">
[{"@context": "http://schema.org",
  "@type": "EducationEvent",
  "name": "Gordonki Żoliborz",
  "startDate": "2017-04-11T09:45",
  "url": "http://www.poczujbluesa.pl",
  "location": {
     "@type": "Place",
     "name": "Jak w Ulu",
     "address": "ul. Dembińskiego 10, Warszawa"
  },
  "offers": [{
     "@type": "Offer",
     "url": "http://poczujbluesa.pl/zapisy"
  }]
},
{"@context": "http://schema.org",
  "@type": "EducationEvent",
  "name": "Gordonki Żoliborz",
  "startDate": "2017-04-11T12:15",
  "url": "http://www.poczujbluesa.pl",
  "location": {
     "@type": "Place",
     "name": "Jak w Ulu",
     "address": "ul. Dembińskiego 10, Warszawa"
  },
  "offers": [{
     "@type": "Offer",
     "url": "http://poczujbluesa.pl/zapisy"
  }]
},
{"@context": "http://schema.org",
  "@type": "EducationEvent",
  "name": "Gordonki Żoliborz",
  "startDate": "2017-04-11T16:00",
  "url": "http://www.poczujbluesa.pl",
  "location": {
     "@type": "Place",
     "name": "Jak w Ulu",
     "address": "ul. Dembińskiego 10, Warszawa"
  },
  "offers": [{
     "@type": "Offer",
     "url": "http://poczujbluesa.pl/zapisy"
  }]
},
{"@context": "http://schema.org",
  "@type": "EducationEvent",
  "name": "Gordonki Żoliborz",
  "startDate": "2017-04-13T11:00",
  "url": "http://www.poczujbluesa.pl",
  "location": {
     "@type": "Place",
     "name": "Szkoła tańca Sho",
     "address": "ul. Kleczewska 38/40, Warszawa"
  },
  "offers": [{
     "@type": "Offer",
     "url": "http://poczujbluesa.pl/zapisy"
  }]
},
{"@context": "http://schema.org",
  "@type": "EducationEvent",
  "name": "Gordonki Żoliborz",
  "startDate": "2017-04-13T12:00",
  "url": "http://www.poczujbluesa.pl",
  "location": {
     "@type": "Place",
     "name": "Szkoła tańca Sho",
     "address": "ul. Kleczewska 38/40, Warszawa"
  },
  "offers": [{
     "@type": "Offer",
     "url": "http://poczujbluesa.pl/zapisy"
  }]
}]
</script>
        </div>
        <!-- /.container -->

    </div>
    {% endif %}
</div>
{% endfor %}
</section>
