<section id="schedule" class="uber-section">
<!-- Page Content -->
<div class="container ">
<h1 class="text-center">Grafik zajęć</h1>
{% for post in site.posts reversed%}
  {% if post.category == 'Schedule' %}
  {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
    {% if thecycle == 'odd' %}
    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-3 col-lg-offset-2 col-sm-6 vcenter">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">{{ post.title }}</h2>
                    <div class="lead">{{ post.content }}</div>
                    {% if post.zapisy_uruchomione %}
                      <a href="{{ page.zapisy }}" class="btn btn-primary btn-lg"> <span class="network-name">Zapisy</span></a>
                      <br/><br/>
                      <p><a href="{{ page.regulamin }}" target="_blank">Regulamin</a></p>
                   {% else %}
                   {% endif %}
                </div><!--
             --><div class="col-lg-5 col-lg-offset-2 col-sm-6 vcenter">
                    <img class="img-responsive" src="img/{{ post.img }}" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->
    {% else %}

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6 vcenter">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">{{ post.title }}</h2>
                    <div class="lead">{{ post.content }}</div>
                    {% if post.zapisy_uruchomione %}
                    <a href="{{ page.zapisy }}" class="btn btn-primary btn-lg"> <span class="network-name">Zapisy</span></a>
                    <br/><br/>
                    <p><a href="{{ page.regulamin }}" target="_blank">Regulamin</a></p>
                    {% endif %}
                </div><!--
             --><div class="col-lg-4 col-lg-offset-1 col-sm-pull-6  col-sm-6 vcenter">
                  <img class="img-responsive" src="img/{{ post.img }}" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->
    {% endif %}
    {% endif %}
</div>
{% endfor %}
</section>
