<section id="schedule" class="uber-section">
<!-- Page Content -->
<div class="container ">
{% for post in site.posts reversed%}
  {% if post.category == 'Schedule' %}
  {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-sm-3 vcenter">
                    <h1 class="section-heading" style="margin-top:0px"><span style="font-size: x-large" >Metro</span> {{ post.title }} <span style="font-size: x-large">Gordonki {{ post.district }}</span></h2>
                    <div class="lead">{{ post.content }}</div>
                    {% if post.zapisy_uruchomione %}
                      <a href="{{ page.zapisy }}" class="btn btn-primary btn-lg"> <span class="network-name">Zapisy</span></a>
                      <br/><br/>
                      <p><a href="{{ page.regulamin }}" target="_blank">Regulamin</a></p>
                   {% else %}
                   {% endif %}

                </div><!--
             --><div class="col-sm-5">
                  <iframe src="{{ post.embed_map }}"  width="300" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
</div> <!--
             --><div class="col-sm-4 vcenter">
                   <a href="{{ post.host_url }}">
                    <img class="img-responsive" style="margin: 0 auto" src="img/{{ post.img }}" alt="">
                   </a>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    {% endif %}
</div>
{% endfor %}
</section>
