<!DOCTYPE html>
<html>
	{% include head.html %}
        <script> fbq('track', 'InitiateCheckout'); </script>
        <script> ga('send', 'event', 'acquisition', 'InitiateCheckout'); </script>
	<!--<body style="position:fixed; top:0px; left:0px; bottom:0px; right:0px; width:100%; height:100%; border:none; margin:0; padding:0; overflow:hidden; z-index:999999;">-->
        <body>
           {% include menu.html %}
        <section class="visible-xs" style="padding-top:150px">

         <div class="content-section-b">
           <div class="container">
<!--<h1 class="text-center" style="margin-bottom:55px">Opinie</h1>-->
            <div class="row">
               <div class="col-xs-7 col-xs-offset-3 centered">
                 <a class="btn btn-lg btn-default visible-xs-inline" href="tel:662328626"><span class="glyphicon glyphicon-earphone" aria-hidden="true" > Zapisz przez telefon</span></a>
    
               </div>

             </div>
           </div>
         </div>
       </section>
       
       <iframe src={{ page.iframe }} width="100%" height="100%" frameborder="0" marginheight="0" marginwidth="0" >Ładuję...</iframe>
		{% include js.html %}
	</body>
</html>
